<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask On Fargate - Astronomy picture of the day</title>
</head>
<body>
    {% if media_type == 'image' %}
        <img src={{media_url}} class="img-fluid" alt="Responsive image">
    {% elif media_type == 'video' %}
        <iframe src={{media_url}} allowfullscreen></iframe>
    {% else %}
        <h4>Did not understand the media type</h4>
    {% endif %}
    <h5>{{title_text}}</h5>
    <h6>{{copyright_text}}</h6>
    <p>{{description_text}}</p>
</body>
</html>